<section class = "w-full">
<%= form_with(model: [@post, @comment], url: user_post_comments_path(@user, @post), class: "py-4 flex flex-row justify-center", method: :post) do |form| %>
  <%= form.label :text, class:"hidden" %>
  <%= form.text_area :text, placeholder: "Add Your comment here.....!" , class: 'form-control' %>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
</section>