<%= form_with(model: [@user, @post, @like], url: user_post_likes_path(@user, @post), method: :post) do |form| %>
  <div>
    <%= form.submit 'Like Post', class: "btn btn-primary" %>
  </div>
<% end %>
